@font-face {
   font-family: 'Rubik-Regular';
   font-display: swap;
   src: url('file:///Users/louisbuffay/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-11-23_173015/fonts/Rubik-Regular/font.ttf');
}
